@media only screen and (min-device-width: 481px) {
	body {
		background-image: url("../images/bubinga.jpg");
		background-attachment: fixed;
	}

	#overlay {
		background-image: url("../images/bubinga.jpg");
		background-attachment: fixed;
	}
}	

@media only screen and (max-device-width: 480px) {
	body { 
    	background-color: #cc6600; 
  	}

  	#overlay {
  		background-color: #cc6600;
  	}
}

h1 {
	text-align: center;
	font-size: 7em;
	font-family: monospace;
	font-weight: bolder;
	text-shadow:
		-1px -1px 0 #fff,  
      	1px -1px 0 #fff,
      	-1px 1px 0 #fff,
       	1px 1px 0 #fff,
		3px 3px 0 #000,
		-3px -3px 0 #000,
		-3px 3px 0 #000,
		3px -3px 0 #000;
}

.container-fluid {
	margin-top: -5px;
	border-bottom: 4px outset lightgray;
	background-color: #eee;
}

.container {
	margin-top: 5px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #eee;
	border:2px outset lightgray;
	display: block;
}

.text {
	font-size: 3em;
}

.text2 {
	font-size: 2.75em;
}

.centerAlign {
	text-align: center;
}

.tempoTxt {
	font-weight: bolder;
	padding-left: 25%;
}

.timeSigBox {
	font-size: 1.5em;
}

.tempo {
	margin-top: 2%;
}

#meter {
	text-align: right;
}

#subdivision4 {
	display: inline;
}

#subdivision85 {
	display: none;
}

#subdivision87 {
	display: none;
}

#subdivision88 {
	display: none;
}

#subdivision89 {
	display: none;
}

#subdivision810 {
	display: none;
}

#subdivision811 {
	display: none;
}

#subdivision813 {
	display: none;
}

#subdivision814 {
	display: none;
}

#subdivision815 {
	display: none;
}

#subdivision8na {
	display: none;
}

#overlay {
	position: fixed;
	float: left;
	width: 100%;
	height:100%;
	z-index: 10;
	color: #eee;
	display: none;
	font-size: 20em;
	text-align: center;
	text-shadow:
   		3px 3px 0 #000,
     	-1px -1px 0 #000,  
      	1px -1px 0 #000,
      	-1px 1px 0 #000,
       	1px 1px 0 #000;
}

.btn {
	font-size: 2em;
	width: 100%;
	border:1px outset lightgray;
}

.form-control {
	display: inline-block;
	min-width: 30%;
	max-width: 40%;
	border:1px outset lightgray;
}


/* ______________________________________________*/


input[type=range]{
    -webkit-appearance: none;
    background-color: #eee;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 10px;
    background: #cc6600;
    border: 2px outset lightgray;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px outset lightgray;
    height: 25px;
    width: 10px;
    border-radius: 0%;
    background: white;
    margin-top: -10px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #cc6600;
    border: 2px outset lightgray;
}










